$theme-color =#155BBB
$theme-secondary-color = #afd7ff
bj-image($url)
  background-image url($url + ".png")
  background-size cover
  background-repeat: no-repeat
  background-position: center
  @media(-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3)
    background-image url($url + "@2x.png")
.van-empty__image
  img
    display: none   
.van-dialog__message
  font-size 16px !important   
.van-dialog__cancel
  color $theme-color !important   
.van-index-bar__index
  color $theme-color !important   
.van-tab--active
  color $theme-color !important  

@media (min-width 640px)
  .answer-bar
    transform: translateX(-50%)
    left :50% !important
    width: 100%
    max-width 640px
  .choose_crop-container
    left 50% !important
    transform: translateX(-50%)
    width: 100%
    max-width 640px
    overflow-x hidden !important
    top 0 !important
    position fixed !important
    height 100%
  .van-sticky--fixed
    left 50% !important
    transform: translateX(-50%)
    width: 100%
    max-width 640px 
  .hospital_fast_nav-container
    left 50% !important
    transform: translateX(-50%)
    width: 100%
    max-width 640px
  .vip-container
    left 50% !important
    transform: translateX(-50%)
    width: 100%
    max-width 640px
    top 0 !important
  .van-popup
    left 50% !important
    transform: translateX(-50%)
    width: 100%
    max-width 640px
  .index_online-container.addressOverflow
    left 50% !important
    transform: translateX(-50%)
    width: 100%
    max-width 640px
    top 0 !important
  
  .index_online-container.addressOverflow 
    .van-sticky
      margin-top: 50px


  

