*
  margin 0 
  padding 0
  box-sizing: border-box
a 
  text-decoration: none
  display: block  
ul,li 
  list-style: none  
html,body 
  height 100%  
  -webkit-overflow-scrolling touch
.slide-left-enter-active, .slide-left-leave-active
  transition transform 0.3s ease
.slide-left-enter, .slide-left-leave-to
  transform translateX(100%)
button 
  border-width: 1px
  border-color transparent  
@import url("./base.styl");

